:root {
  --branding-color: #6c63ff;
  --secondary-color: #ffcbcb;
  --heading-font-family: Georgia, "Times New Roman", Times, serif;
  --default-font-family: "Poppins", sans-serif;
}

@media (max-width: 800px) {
  h1 {
    font-size: 30px;
    line-height: 50px;
  }

  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .main {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
p {
  font-weight: normal;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}
.about-footer {
  padding: 30px 120px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
footer a:hover {
  color: var(--branding-color);
}

.navbar-brand {
  font-family: "Smooch", cursive;
  font-size: 35px;
  color: #ffcbcb;
}
.navbar-toggler {
  background: white;
}

.nav-link {
  color: white;
}

.hero {
  background: #f3e9fc;
  text-align: center;
  padding: 60px 20px;
  margin-top: 20px;
}

.hero p {
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  background: white;
  color: var(--branding-color);
}
.btn-branding-launch {
  font-size: 18px;
  line-height: 27px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  padding: 15px 30px;
}

.btn-branding-launch:hover {
  transition: all 200ms ease-in-out;
  background: var(--branding-color);
  color: white;
}
.projects-link:hover {
  transition: all 200ms ease-in-out;
  background: white;
  color: var(--branding-color);
}
.project-desciption {
  padding: 200px 60px;
  padding: 0;
  text-align: center;
}
.project-desciption h2 {
  padding-top: 150px;
}
.main h1 {
  font-size: 30px;
  line-height: 70px;
}
.main h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.main-content {
  margin: 30px;
}

.main {
  padding: 45px 20px;
}
.about-profile-image {
  border-radius: 100%;
}
.quote {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.send-button {
  margin: 20px auto;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}
.form-name,
.form-mail,
.form-message {
  display: block;
}
